body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(250,250,250,0.1);
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

p, li {
  font-size: 20px;
}

.readySetGo h2 {
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 30vh;
  width: 100%;
  margin: 0 auto;
  color: red;
  text-transform: uppercase;
}

@keyframes popUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.anim {
  animation-name: popUp;
  animation-duration: 1.3s;
  animation-direction: forwards;
  -webkit-animation-play-state: paused;
}

.animSet {
  animation-name: popUp;
  animation-duration: 1.3s;
  animation-direction: forwards;
  animation-delay: 1.4s;
  -webkit-animation-play-state: paused;
}

.animGo {
  animation-name: popUp;
  animation-duration: 1.3s;
  animation-direction: forwards;
  animation-delay: 2.8s;
  -webkit-animation-play-state: paused;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 0 auto;
}

a {
  font-size: 22px;
}

a:visited {
  color: blue;
}

.instruction-modal,
.settings-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem;
  margin-top: 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

 .modal-content h2 {
   text-transform: uppercase;
   text-align: center;
 }

 .modal-content ul {
   width: 60%;
   margin: 2rem auto;
 }

 .settings-modal p {
   display: flex;
   width: 160px;
   margin: 0 auto;
   justify-content: space-around;
 }

 input[type='checkbox'] {
   width: 20px;
   height: 20px;
   line-height: 20px;
}

.close-iButton,
.close-sButton {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

canvas {
  display: block;
  margin: 10px auto;
  border: 3px solid black;
}

button {
  text-align: center;
  line-height: 100%;
  text-transform: uppercase;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #E6E6E6;
  position: absolute;
  width: 100px;
  margin-left: -50px;
  left: 50%;
  top: 50%;
  height: 50px;
  margin-top: -50px;
}

button:hover {
  cursor: pointer;
}

.play-again {
  font-size: 24px;
  width: auto;
  height: auto;
  margin-left: -90px;
  padding: 10px;
}


.score {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.highScore {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
}

.paused,
 #game-over {
  display: none;
  font-size: 30px;
  position: absolute;
  text-align: center;
  top: 30vh;
  width: 100%;
  margin: 0 auto;
}
