body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

button {
  text-align: center;
  line-height: 100%;
  text-transform: uppercase;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #999;
  position: absolute;
  width: 100px;
  margin-left: -50px;
  left: 50%;
  top: 50%;
  height: 50px;
  margin-top: -50px;
}

.play-again {
  font-size: 24px;
  width: auto;
  height: auto;
  margin-left: -90px;
  padding: 10px;
}

canvas {
  display: block;
  margin: 50px auto;
  border: 3px solid black;
}

.score {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.paused,
 #game-over {
  display: none;
  font-size: 30px;
  position: absolute;
  text-align: center;
  top: 30vh;
  width: 100%;
  margin: 0 auto;
  background: white;
}
